<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Ejercicio 3</h1>
        <script type="text/javascript">
        var Num1
        Num1 = Math.round(Math.random()*50)
        document.write("Numero 1: " + Num1)

        var Num2
        Num2 = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 2: " + Num2)

        var Num3
        Num3 = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 3: " + Num3)

        //Numero 1
        if(Num1 > 50 ){
            document.write('<br/><br/>El ' , Num1, ' es mayor que 50')}
            if(Num1 < 20 ){
                document.write('<br/><br/>El ' , Num1, ' es menor que 20')}
                if(Num1 < 0){
                    document.write('<br/><br/>El ' , Num1, ' es negativo')
                }else{
                    document.write(" ")
                }
        

        //Numero 2
        if(Num2 > 50 ){
            document.write('<br/><br/>El ', Num2, ' es mayor que 50')}
            if(Num2 < 20 ){
                document.write('<br/><br/>El ', Num2, ' es menor que 20')}
                if(Num2 < 0){
                    document.write('<br/><br/>El ', Num2, ' es negativo')
                }else{
                    document.write(" ")
                }

        //Numero 3
        if(Num3 > 50 ){document.write('<br/><br/>El ', Num3, ' es mayor que 50')}
            if(Num3 < 20 ){document.write('<br/><br/>El ', Num3, ' es menor que 20')}
                if(Num3 < 0){document.write('<br/><br/>El ', Num3, ' es negativo')
                }else{document.write(" ")
                }
        </script>
    </body>
</html>