<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Ejercicio 1</h1>
        <script type="text/javascript">
        var A
        A = Math.round(Math.random()*50)
        document.write("Numero 1: " + A)
        
        var B
        B = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 2: " + B )

        var C
        C = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 3: " + C)

        var D
        D = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 4: " + D)

        var E
        E = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 5: " + E)

        var F
        F = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 6: " + F)

        var G
        G = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 7: " + G)

        var H
        H = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 8: " + H)

        var I
        I = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 9: " + I)

        var J
        J = Math.round(Math.random()*50)
        document.write("<br/><br/>Numero 10: " + J)

        /* Numero Mayor */
        if(A>=B && A>=C && A>=D && A>=E && A>=F && A>=G && A>=H && A>=I && A>=J){
            document.write("<br/><br/>El numero mayor es: "+A)
        }else if(B>=A && B>=C && B>=D && B>=E && B>=F && A>=G && A>=H && A>=I && A>=J){
            document.write("<br/><br/>El numero mayor es: "+B)
        }else if(C>=A && C>=B && C>=D && C>=E && C>=F && C>=G && C>=H && C>=I && C>=J){
            document.write("<br/><br/>El numero mayor es: "+C)
        }else if(D>=A && D>=B && D>=C && D>=E && D>=F && D>=G && D>=H && D>=I && D>=J){
            document.write("<br/><br/>El numero mayor es: "+D)
        }else if(E>=A && E>=B && E>=C && E>=D && E>=F && E>=G && E>=H && E>=I && E>=J){
            document.write("<br/><br/>El numero mayor es: "+E)
        }else if(F>=A && F>=B && F>=C && F>=D && F>=E && F>=G && F>=H && F>=I && F>=J){
            document.write("<br/><br/>El numero mayor es: "+F)
        }else if(G>=A && G>=B && G>=C && G>=D && G>=E && G>=F && G>=H && G>=I && G>=J){
            document.write("<br/><br/>El numero mayor es: "+G)
        }else if(H>=A && H>=B && H>=C && H>=D && H>=E && H>=F && H>=G && H>=I && H>=J){
            document.write("<br/><br/>El numero mayor es: "+H)
        }else if(I>=A && I>=B && I>=C && I>=D && I>=E && I>=F && I>=G && I>=H && I>=J){
            document.write("<br/><br/>El numero mayor es: "+I)
        }else if(J>=A && J>=B && J>=C && J>=D && J>=E && J>=F && J>=G && J>=H && J>=I){
            document.write("<br/><br/>El numero mayor es: "+J)
        }

        //Numero menor//
        if(A<=B && A<=C && A<=D && A<=E && A<=F && A<=G && A<=H && A<=I && A<=J){
            document.write("<br/><br/>El numero menor es: "+A)
        }else if(B<=A && B<=C && B<=D && B<=E && B<=F && A<=G && A<=H && A<=I && A<=J){
            document.write("<br/><br/>El numero menor es: "+B)
        }else if(C<=A && C<=B && C<=D && C<=E && C<=F && C<=G && C<=H && C<=I && C<=J){
            document.write("<br/><br/>El numero menor es: "+C)
        }else if(D<=A && D<=B && D<=C && D<=E && D<=F && D<=G && D<=H && D<=I && D<=J){
            document.write("<br/><br/>El numero menor es: "+D)
        }else if(E<=A && E<=B && E<=C && E<=D && E<=F && E<=G && E<=H && E<=I && E<=J){
            document.write("<br/><br/>El numero menor es: "+E)
        }else if(F<=A && F<=B && F<=C && F<=D && F<=E && F<=G && F<=H && F<=I && F<=J){
            document.write("<br/><br/>El numero menor es: "+F)
        }else if(G<=A && G<=B && G<=C && G<=D && G<=E && G<=F && G<=H && G<=I && G<=J){
            document.write("<br/><br/>El numero menor es: "+G)
        }else if(H<=A && H<=B && H<=C && H<=D && H<=E && H<=F && H<=G && H<=I && H<=J){
            document.write("<br/><br/>El numero menor es: "+H)
        }else if(I<=A && I<=B && I<=C && I<=D && I<=E && I<=F && I<=G && I<=H && I<=J){
            document.write("<br/><br/>El numero menor es: "+I)
        }else if(J<=A && J<=B && J<=C && J<=D && J<=E && J<=F && J<=G && J<=H && J<=I){
            document.write("<br/><br/>El numero menor es: "+J)
        }
        </script>
    </body>
</html>